<div class="experience">
  <span class="dates"><%= experience['dates'].gsub('-', '&ndash;') %></span>
  <div class="card">
    <% if experience['category'] %>
      <div class="ribbon-wrapper">
        <div class="ribbon <%= experience['category'] %>">
          <%= experience['category'] %>
        </div>
      </div>
    <% end %>
    <div class="position">
      <span class="title"><%= experience['title'] %></span>
      <span class="location"><%= experience['location'] %></span>
    </div>
    <p class="description"><%= markdown experience['description'] %>
  </div>
</div>
