<% if experience["published"] %>
  <div class="experience">
    <div class="card">
      <div class="ribbon-wrapper">
        <% if experience["category"] %>
          <div class="ribbon <%= experience["category"] %>">
            <%= experience["category"] %>
          </div>
        <% end %>
        <br/>
      </div>

      <div class="position">
        <span class="location"><%= experience["location"] %></span>
        <span class="title"><%= experience["title"] %></span>
        <span class="dates"><%= experience["dates"].gsub("-", "&ndash;") %></span>
      </div>

      <%= markdown experience["description"] %>
    </div>
  </div>
<% end %>
