<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/normalize.css"></link>
    <link rel="stylesheet" type="text/css" href="/style.css"></link>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
    <div id="content">
      <div id="header">
        <%= erb :letter %>
      </div>

      <%= erb :contact %>

      <div class="main">
        <div id="experiences">
          <% @data['experiences'].each do |experience| %>
            <%= erb :experience, locals: {experience: experience} %>
          <%end%>
        </div>

        <div id="sidebar">
          <%= erb :skills %>
          <%= erb :education %>

          <%= erb :action %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
