<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/normalize.css"></link>
    <link rel="stylesheet" type="text/css" href="/style.css"></link>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
    <div id="content">
      <div id="header">
        <%= erb :letter %>
      </div>

      <%= erb :contact %>

      <div id="experiences">
        <% 4.times do %>
          <%= erb :experience %>
        <%end%>
      </div>

      <div id="sidebar">
        <%= erb :skills %>
        <%= erb :education %>
        <!--
        <h2>Possible Icons</h2>
        <i class="fa fa-code fa-lg"></i>
        <i class="fa fa-exchange fa-lg"></i>
        <i class="fa fa-key fa-lg"></i>
        <i class="fa fa-wrench fa-lg"></i>
        <i class="fa fa-html5 fa-lg"></i>
        <i class="fa fa-terminal fa-lg"></i>
        <i class="fa fa-jsfiddle fa-lg"></i>
        <i class="fa fa-tint fa-lg"></i>
        <i class="fa fa-adjust fa-lg"></i>
        <i class="fa fa-pencil fa-lg"></i>
        <i class="fa fa-css3 fa-lg"></i>
        <i class="fa fa-users fa-lg"></i>
        <i class="fa fa-credit-card fa-lg"></i>
        <i class="fa fa-cloud fa-lg"></i>
        <i class="fa fa-flash fa-lg"></i>
        <i class="fa fa-tachometer fa-lg"></i>
        -->
      </div>
    </div>
  </div>
</body>
</html>
