<div id="header">
  <%= erb :letter %>
</div>

<%= erb :contact %>

<div class="main">
  <div id="experiences">
    <% @data['experiences'].each do |experience| %>
      <%= erb :experience, locals: {experience: experience} %>
    <%end%>
  </div>

  <div id="sidebar">
    <%= erb :skills %>
    <%= erb :education %>

    <%= erb :action %>
  </div>
</div>

<div id="footer" class="printonly">
  <a href="http://resume.graysonwright.com">resume.graysonwright.com</a>
</div>
